@font-face {
    font-family: chillit;
    src: url(../public/fonts/chillit.ttf);
}

@font-face {
    font-family: shabnam;
    src: url(../public/fonts/shabnam.ttf);
}


html {
    font-family: shabnam;
}

input {
    font-family: inherit;
}